/* Box Model Hack */
* {
  box-sizing: border-box;
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
	clear: both;
}

/******************************************
/* BASE STYLES
/*******************************************/

body {
  font-family: 'Open Sans', sans-serif;
  color: #2d4255;
}


/******************************************
/* LAYOUT
/*******************************************/



/* ---------------header------------------ */



.source {
  font-weight: 600;
  font-size: 30px;
  color: #2d4255;
  text-decoration: none;
  float: left;
  margin-left: 20px;
  margin-top: 15px;
}


.top, header, .topbottom {
  background: #F5F9FC;
}

header ul {
  min-width: 300px;
  /* border: 2px solid red; */
  list-style: none;
  padding-top: 10px;

}

.table {
  display: table;
  margin: 0 auto;
}

header li {
  display: inline;
  padding: 20px;
}

header li a {
  color: #2d4255;
  text-decoration: none;
  font-weight: 500;
}


.hbut {
  float: right;
  color: white;
  text-decoration: none;
  background: #304659;
  padding: 7px 20px;
  margin-right: 20px;
  margin-top: 15px;
  font-weight: 600;
}



/* ------------top-------------- */

.top {
  padding-left: 20px;
}

/* ------------------toptop---------------- */

.toptop {
  padding-top: 30px;
}


/* --------------toptopleft----------- */

.toptopleft {
  width: 50%;
  /* float: left; */
}

.toptopleft h1 {
  font-size: 50px;
}

.toptopleft a {
  color: white;
  text-decoration: none;
  background: #304659;
  padding: 7px 20px;
  margin-right: 20px;
  margin-top: 15px;
  font-weight: 600;
}

.toptopleft input {
  background-color: #e1e9f0;
  height: 35px;
  width: 250px;
}

.toptopleft p {
  width: 280px;
}




/* ------------------toptopright-------------- */

.toptopright {
  max-width: 450px;
  float: right;
  /* border: 2px solid red; */
}

.toptopright img {
  /* float: right; */
  width: 100%;
  margin: 0 auto;
  display: inline;
}

@media all and (min-width: 911px){
  .moblap {
    display: none;
  }
}



/* ---------------topbottom-------------- */


.topbottom {
  clear: both;
  padding-top: 50px;
}

.tb1, .tb2, .tb3, .tb4 {
  width: 25%;
  float: left;
  /* border: 1px solid black; */
  padding-right: 15px;
  height: 250px;
}


.topbottom h5 {
  font-size: 20px;
  margin: 10px 0;

}

.topbottom a {
  color: #2d4255;
  text-decoration: none;
  font-weight: 700;
}


/* ----------------bottom-------------- */

.bottom {
  clear: both;
  padding-left: 20px;
}

.bottom h2 {
  font-size: 40px;
  width: 60%;
}

.bottom p {
  width: 65%;
}


/* -----------mobile----------- */


@media all and (max-width: 910px) {

  /* ----top----- */

  .top {
    padding-left: 20px;
    padding-right: 20px;
  }



  /* ----------------header--------------- */
  .source {
    float: none;
    width: 100%;
    text-align: center;
    /* border: 2px solid red; */
    display: inline-block;
    margin: 10px 0;
  }

  header nav {
    border-bottom: 1px solid grey;
  }

  .hbut {
    display: none;
  }

  div.table {
    display: none;
  }

  /* ------------------toptopleft----------- */

  .toptopleft {
    width: 100%;
  }

  .toptopleft input {
    width: 100%;
    display: block;
  }

  .toptopleft a {
    width: 100%;
    display: block;
    text-align: center;
  }

  .toptopleft p {
    width: 100%;
  }

  
  /* -------------image------------- */

  .moblap {
    width: 100%;  
  }

  .moblap img {
    width: 100%;
  }

  .toptopright {
    display: none;
  }


  /* ----------topbottom------------- */

  .tb1, .tb2, .tb3, .tb4 {
    width: 50%;
    float: left;
  }

  /* -------bottom--------- */

  .bottom h2 {
    width: 100%;
  }

}

@media all and (max-width: 400px) {
  .tb1, .tb2, .tb3, .tb4 {
    width: 100%;
    float: left;
  }
}









/******************************************
/* ADDITIONAL STYLES
/*******************************************/
